<div class="app-breadcrumb-wrp mt-3 p-3 d-none d-sm-none d-md-block d-lg-block d-xl-block">
    <div class="row">
      <div class="col-xl-7 col-lg-6 col-md-6 text-left app-breadcrumb">
        <span class="cursor-pointer material-icons breadcrumb-icon bc-home-icn">dashboard</span> 
        <span class="cursor-pointer menu-txt pl-1" routerLinkActive="active" routerLink="/dashboard">Dashboard</span>
        <span class="material-icons px-1 breadcrumb-icon">double_arrow</span>
        <span class="cursor-pointer menu-txt pl-0">Settings</span>
        <span class="material-icons px-1 breadcrumb-icon">double_arrow</span>
        <span class="menu-txt pl-0 active-bc-lnk">Add new user</span>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-6 text-right bc-btns-wrp">
        <span class="btn btn-outline-primary secondary-btn cursor-pointer py-1 ml-3">
          <span class="material-icons breadcrumb-icon btn-link-icon">how_to_reg</span><span class='menu-txt'>Update my accout</span>
          </span>
        <span class="btn btn-outline-primary secondary-btn cursor-pointer py-1 ml-3">
          <span class="material-icons breadcrumb-icon btn-link-icon">table_chart</span><span class='menu-txt'>View account list</span>
          </span>
      </div>
    </div>
</div>