// COLOR VARIABLES //
$dark_purple : #2a0048;
$white : #ffffff;
$black : #000000;
$purple : #6400aa;
$light_ash :  #f2f4f5;
$dark_ash: #383838;
$light_purple: #cc83ff;
$red_purple: #AA0064;
$green: #008a00;
//#AA0064